.App {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 4rem);
  min-height: calc(100vh - 4rem);
}

.Price-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 830px) {
  .Price-sec {
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
  }
  .App {
    width: 100%;
    padding: 0;
  }
}
